body {
  padding-top: 75px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
.label {
  color: #000;
}
.spacing {
  margin-right: 10px;
}
