.navbar-right(ng-controller="mvNavBarLoginCtrl as vm")
   form.navbar-form
      .form-group
         input.form-control(placeholder="Email",ng-model="vm.username")
      .form-group
         input.form-control(placeholder="Password",ng-model="vm.password")
      button.btn.btn-primary(ng-click="vm.signin(vm.username,vm.password)") Sign In