.container
   .well
      form.form-horizontal(name="vm.signupForm")
         fieldset
               legend New User information
               .form-group
                  .label.col-md-2.control-label(for="Email") Email
                  .col-md-10
                     input.form-control(name="email",type="email",placeholder="Email" ng-model="vm.email",required)
               .form-group
                  .label.col-md-2.control-label(for="Password") Password
                  .col-md-10
                     input.form-control(name="password",type="password",placeholder="Password" ng-model="vm.password",required)
               .form-group
                  .label.col-md-2.control-label(for="fname") First Name
                  .col-md-10
                     input.form-control(name="fname",type="text",placeholder="First Name" ng-model="vm.firstName",required)
               .form-group
                  .label.col-md-2.control-label(for="lname") Last Name
                  .col-md-10
                     input.form-control(name="lname",type="text",placeholder="Last Name" ng-model="vm.lastName",required)
               .form-group
                  .col-md-10.col-md-offset-2
                     .pull-right
                        button.btn-primary(ng-click="vm.signup()",ng-disabled="vm.signupForm.$invalid") Submit
                        | &nbsp;
                        a.btn.btn-default(href="/") Cancel



