.container
    .jumbotron
        h1 Welcome to Megacable Entertainment Corp
        p This is the page where you can find all kinds of multimedia content from any kind of types.
    .row
        .col.col-md-6
            div(ng-include="'partials/main/featured-courses'")
        .col.col-md-6
            div(ng-include="'partials/main/new-courses'")